header {
    padding: 30px
}
body {
    align-items: center;
    text-align: center;
    background-color: #941B0C;
    color: #F6AA1C;
    font-family: 'Poppins', sans-serif;
}

#time-temp-flex {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#time-flex {
    display: flex;
    flex-direction: row;
}

#temp-flex {
    display: flex;
    flex-direction: row;
} 
 #time-log {
     margin-left: 10px;
     margin-right: 10px
 }
 #temp-log {
    margin-left: 10px;
    margin-right: 10px
}

#graph-select-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px
}
#flex-start-graph-input {
    padding: 10px
}
#flex-end-graph-input {
    padding: 10px;
    margin-right: 10px
}
/* body > img {
    width: 85%;
}